{% extends "store/base.html" %}

{% load static %}

{% block header %}
    <header class="tc pv6 ph3 bg-yellow">
      <h1 class="ranga f1 f-headline-ns text-shadow lh-solid rotate-30deg o-80">Succulent<br/>Surprise</h1>
    </header>

    <div class="w-100 overflow-hidden">
      <canvas id="paint-job" width="100%" height="50px"/>
    </div>
{% endblock %}

{% block content %}
    <section class="ph3 ph5-ns pb3 cf mt0 sans-serif">
      <div class="tc center">
        <img class="fit w-25 center" src="{% static "store/plant.svg" %}"/>
      </div>
      <p class="f2 tc center measure-narrow lh-copy">Send your&nbsp;<span id="funny-placeholder" class="dib start animate b">self</span><br/> a super succulent in a tiny tumbler!</p>
      <p class="f3 i serif tc center measure-narrow lh-copy">For only £16 we select a succie, pick a pot and pop it in the post.</p>
    </section>

    <section class="ph3 ph5-ns pv3 cf mt0 sans-serif w-75-ns center">
      <!--<h2 class="f3 fw4 ph3-ns mb0">Shipped succulents so far!</h2>-->
      <div class="w-100 cf pt3 pa3-ns">
        <div class="fl w-100 w-33-ns ph0 pv1 pa1-ns">
          <img class="w-100 db outline black-10" src="{% static "store/a.jpg" %}"/>
        </div>
        <div class="fl w-100 w-33-ns ph0 pv1 pa1-ns">
          <img class="w-100 db outline black-10" src="{% static "store/b.jpg" %}"/>
        </div>
        <div class="fl w-100 w-33-ns ph0 pv1 pa1-ns">
          <img class="w-100 db outline black-10" src="{% static "store/c.jpg" %}"/>
        </div>
      </div>
    </section>

    <section class="ph3 ph5-ns cf mt0 sans-serif tc pv5">
      <a href="{% url 'checkout' %}" class="f5 f4-ns dib ba b--black-20 bg-green white ph3 ph4-ns pv2 pv3-ns br2 no-underline">Order now!</a>
    </section>

    <section class="ph3 ph5-ns pv3 cf mt0 sans-serif w-75-ns center">
      <h2 class="f3 fw4 ph3-ns mb0">Taking care of your babies</h2>
      <div class="w-100 cf pt3 pa3-ns">
        <p>Our succies are a lucky dip of Echeveria, Aeonium, Crassula and Sedum varieties. To keep them happy, find a well lit spot.</p>
        <p>Give them a teaspoon of water to drink every week or so. They don't like wet feet, so don't over do it! Water less in winter, when they're sleeping.</p>
        <p>These little guys are 5cm babies. Re-pot them once they get too big for their boots!</p>
      </div>
    </section>

    <section class="ph3 ph5-ns pv3 cf mt0 sans-serif w-75-ns center">
      <h2 class="f3 fw4 ph3-ns mb0">Shipped succulents so far!</h2>
      <div class="w-100 cf pt3 pa3-ns">
        <div class="fl w-100 w-33-ns ph0 pv1 pa1-ns">
          <img class="w-100 db outline black-10" src="{% static "store/d.jpg" %}"/>
        </div>
        <div class="fl w-100 w-33-ns ph0 pv1 pa1-ns">
          <img class="w-100 db outline black-10" src="{% static "store/e.jpg" %}"/>
        </div>
        <div class="fl w-100 w-33-ns ph0 pv1 pa1-ns">
          <img class="w-100 db outline black-10" src="{% static "store/f.jpg" %}"/>
        </div>
      </div>
    </section>

{% endblock %}
