{% extends "store/base.html" %}

{% load static %}

{% block header %}
    <a href="{% url 'index' %}" class="no-underline no-visited pointer">
      <header class="tc pv4 ph3 bg-yellow">
        <h1 class="ranga f1 text-shadow lh-solid rotate-30deg o-80">Succulent<br/>Surprise</h1>
      </header>

      <div class="w-100 overflow-hidden">
        <canvas id="paint-job" width="100%" height="50px"/>
      </div>
    </a>
{% endblock %}


{% block content %}
    <div id="tos" class="mw6 center ma4">
        <h2 class="f2 fw1">Terms and Conditions</h2>
        <h3 class="f3 fw1">Product</h3>
        <p class="measure">Our mini tumblers are sourced from Falcon Enamelware. There are five colours available: coal black, pigeon grey, pillarbox red, white with a blue rim, and beige with a grey rim. Some variation in colour or glaze can occur - it just makes them more unique!</p>
        <p>All our succulents are picked from a mix of Echeveria, Aeonium, Crassula and Sedum varieties. Internal plastic pots are 5 centimetres in diameter, but plants may vary slightly in size. Pictures on the website are for illustration only. Stock varies according to availability from our suppliers.</p>
        <h3 class="f3 fw1">Delivery</h3>
        <p class="measure">Once we have taken your order, we pack and dispatch by 4pm each day. All packages are sent by First Class post. Deliveries should arrive within two days, but we cannot guarantee next day delivery, especially at busy times of the year. We cannot provide delivery slots. Please ensure you provide all the details needed for the package to reach the recipient, especially if sending to a large office or via a mail room. We can only deliver within the UK.</p>
        <h3 class="f3 fw1">Packaging</h3>
        <p class="measure">Our succulents are boxed in sustainable FSC cardboard - please recycle after use! They are cushioned with eco-friendly wood wool. Succulents will occasionally lose a few leaves in transit - don’t worry! Just give them drink and they should perk up.</p>
        <h3 class="f3 fw1">Exchanges</h3>
        <p class="measure">We aim to get your succies to you in tip-top condition. If your succulent arrives looking sad or battered, just let us know and we’ll send you a new one. We ask that you send us a photo of any damage if possible, so we can improve our packaging!</p>
        <h3 class="f3 fw1">Refunds</h3>
        <p class="measure">If you’re not delighted with your surprise, just contact us within 30 days to arrange return and refund. We cannot offer refunds after more than 30 days. Unfortunately, we cannot cover shipping costs for returns.</p>
    </div>
    <div id="privacy" class="mw6 center ma4">
        <h2 class="f2 fw1">Privacy</h2>
        <p class="measure">We do not store credit card details nor do we share customer details with any third parties.</p>
        <p class="measure">All transactions are conducted over HTTPS. Our payment provider is Stripe.</p>
        <p class="measure">We use Google Analytics, which uses cookies to track visitor usage.</p>
    </div>
{% endblock %}
